<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
  <head>
    <title>AlaConnection | <%= yield(:title) %></title>
  	<% if user_signed_in? %>
  		<%= render "layouts/map" %>
 	<% else %>
 	<div class="container" id="frontcontainer">
  		<div class="center hero-unit">
			<div id = "welcome">
  				<h1>Welcome to ALAConnection</h1>
				<h2>Connecting the next generation of African Leaders</h2>

				<h3><a href='http://africanleadershipacademy.org/'> African leadership Academy</a></h3>
				<%= link_to "Sign up now!",new_user_registration_path, class: "btn btn-large btn-primary" %>
				<%= link_to "Sign in", new_user_session_path, class: "btn btn-large btn-primary", id: "spacer" %>
			</div>
		</div>
	</div>
  	<% end %>
</html>