<div class="container" id="contain">

<h1> Search Result </h1>
<% if @results.empty? %>
	<%= render "/shared/notfound" %>
<% else %>
<% @results.each do |result| %>
<div class="center hero-unit">
	<%= result.first_name %>  <%= result.last_name %> 
	<%= link_to "View profile", result%>
</div>
<% end %>
<%end %>

</div>