<% provide(:title, "Search results") %>
<div class="container" id="contain">

<h1> Search Result </h1>
<% if @results.empty? %>
	<%= render "/shared/notfound" %>
<% else %>
<% @results.each do |result| %>
<div id="user">
	<%= link_to result.first_name + " " + result.last_name, result%> 
</div>
<% end %>
<%end %>

</div>