<%= form_for @tweet, :html => { :id => "tform" } do |f| %>
      <%= f.text_area :content, :cols =>"10", :rows=>"2" %>
      <%= f.submit "Post", class: "btn btn-large btn-primary" %>
  <% end %>
  <script>
 $("#tform").submit( function(event){
    event.preventDefault();   
      $.ajax(
        {
          url: $("#tform").attr("action"),
          type: $("#tform").attr("method"),
          //dataType: "JSON",
          data: $("#tform").serialize(),
          complete: function(){

          },
          success: function(data,textStatus,xhr){
          	var $value = $("#tform").find('textarea').val();
          // 	$("#atweet").prepend("<div id='posttweet'> "+$value+" </div>");
        	   $("#tform").find('textarea').val("");
		       
             },
          error: function(xhr,textStatus,error) {
              alert(error);
          }
      })//end of ajax
    });//end of submit method
</script>
