<div class="container" id="contain">
	<h3> Users index </h3>
<% @users.each do |user| %>
	<div id="user"><strong><em><%= link_to user.first_name, user %>    <%= user.last_name %>
	</strong></em> </br></div>
<% end %>
</div>