 <% provide(:title, "Edit bio") %>
<body>
<div class="container" id="contain"><%= form_for(@user, :id=> "mform") do |f| %>
  <h1> Edit Your Biography! </h1>
	<div class="row" >
		<div class="span6 offset3">
 			 <div class="field">
   				 <%= f.text_area :Bio, :placeholder => "Compose new bio...", :id => "myarea" %>
  			</div>
  			<%= f.submit "Post", class: "btn btn-large btn-primary" %>
  		</div>
  	</div>
  	<% end %>
  </div>
</body>
<script>
/* $("form").submit( function(event){
   // event.preventDefault();  
    //$("form").find('input[type="submit"]').attr('disabled',true);  
      $.ajax(
        {
          url: $("form").attr("action"),
          type: $("form").attr("method"),
          //dataType: "JSON",
          data: $("form").serialize(),
          complete: function(){
          
          },
          success: function(data,textStatus,xhr){
            alert("Your bio has been saved"); 
                     },
          error: function(xhr,textStatus,error) {
              alert("Please, write a bio");
          }
      })//end of ajax
    });//end of submit method*/
</script>