<% provide(:title, "About Me") %>
<div class="container" id="contain">
	<h1> About Me </h1>
	<div id="customBio"> <%= current_user.Bio %> </div>
	<%= link_to "Edit About Me","/bio/edit", 
	class: "btn btn-large btn-primary",:id => "editbutton" %>
</div>