<% provide(:title, "My biography") %>
<div class="container" id="contain">
	<h1> My biography </h1>
	<div id="customBio"> <%= current_user.Bio %> </div>
	<%= link_to "Edit biography","/bio/edit", 
	class: "btn btn-large btn-primary",:id => "editbutton" %>
</div>